/*----------------------------------------------------------------------------------------- MEDIA QUERY FOR TABLES */

@media (min-width:577px) and (max-width:768px) {

    /* NAVBAR */

    .nav {
        background-color: #34282c;
        height: 48px;
        width: 100%;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: space-between;
        font-size: 1rem;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .row {
        justify-content: space-evenly;
        display: flex;
        flex-wrap: wrap;
    }

    .col {
        width: 96%;
        margin: 3%;
        box-shadow: 0 0 10px lightblue, 0 0 5px;
    }

    /*box img*/

    .image1 img {
        width: fit-content;
        /* height: 65%; */
    }

    /* co navbar */

    .conav {
        background-color: #454545;
        height: fit-content;
        padding: 5px;
        width: 100%;
        text-align: center;
        align-items: center;
        justify-content: center;
        font-family: 'Baloo Bhai 2', cursive;
        display: flex;
        border: none;
        font-size: 0.89em;
    }

    .conav ul {
        padding: 0;
        margin: 0;
        display: flex;
        /* flex-direction: column; conav element direction */
        list-style: none;
        background-color: #454545;
        flex-wrap: wrap;
    }

    /*=======================================================================================================================================================================      
                                                                    HAMBURGE AND CLOSE BUTTON
=======================================================================================================================================================================*/

    .mobile-navbar-btn {
        margin-left: 10px;
        display: block;
    }

    /*=======================================================================================================================================================================      
                                                                            CO CLASS WITH " COL "
=======================================================================================================================================================================*/


    .col1 {
        margin: 1.5% 0;
        height: 450px;
        box-shadow: none;
        width: 48%;
        padding: 1%;
        font-size: 1.3rem;
        font-weight: 500;
        /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
        /* border: 0.5px black solid; */
        display: flex;
        /* justify-content: flex-end; */
        flex-direction: column;
        justify-content: space-between;
    }

    /*=======================================================================================================================================================================      
                                                                            SUB BODY TAG 
=======================================================================================================================================================================*/

    .body {
        padding: 1%;
        margin: 7% 0.5%;
        width: 99%;
        /* border-radius: 30px; */
        /* border: 2px solid red; */
        box-shadow: 0 0 20px, 0 0 12px grey;
        font-size: 0.8em;
    }

    .body-cont {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        font-weight: 900;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .body h1 {
        font-size: 1.7em;
        font-family: Trebuchet MS;
    }

    .body p {
        font-size: 1em;
    }

    .body-cont {
        display: flex;
        flex-wrap: wrap;
    }

    .bt {
        display: none;
    }

    /*=======================================================================================================================================================================      
                                                                            ATTRIBURTE BUTTON
=======================================================================================================================================================================*/

    .att-btn {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .att {
        margin-right: 50%;
        margin-left: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
    }

    .att a {
        text-decoration: none;
        color: black;
        border: 2px solid black;
        border-radius: 30px;
        margin: 0 10px;
        bottom: 0;
        padding: 2px calc(60% - 31%);
    }


}